.dp__theme_dark {
  --dp-primary-color: #1f948e;
  --dp-success-color: #1f948e;
}

.dp__theme_light {
  --dp-primary-color: #1f948e;
  --dp-success-color: #1f948e;
}

* {
  font-family: Roboto, sans-serif;
}
